<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangjian.neworangemodule">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AirActivity" />
        <activity android:name=".activity.WaterActivity" />
        <activity android:name=".activity.UdiskActivity" />
        <activity android:name=".activity.CascophenActivity" />
        <activity android:name=".activity.FrameActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".NewPasswordActivity" />
        <activity android:name=".activity.GoodsActivity" />
        <activity android:name=".activity.ShoppingCarActivity"></activity>
    </application>

</manifest>